:root{
    --bacground:#282c34;
    --text-comum:#D3D4D7;
    --color-teme:#019BC3;
    --section-color:#16181D;
}

section{
    width: 100%;
    padding: 10px;
}
.container-section{
    width: 100%;
    background-color: var(--section-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image{
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    
}
.foto{
    width: 50%;
    height: 50%;
    box-shadow: 0px 0px 15px 1px var(--text-comum);
}
.information-section{
    float: right;
    width: 40%;
    height: 100%;
    padding: 20px;
    background-color: red;
}
.information-section h2{
    color: var(--color-teme);
    margin-top: 10px;
    margin-bottom: 1rem;
}
.information-section h1{
    color: var(--text-comum);
    margin-bottom: 1rem;
}
.information-section h3{
    text-align: center;
    color: var(--text-comum);
    margin-bottom: 1rem;
}